body {
  background: $background-color;
  color: $text-color;
  font-size: $em;
  line-height: $line-height;
  min-width: $em * 20; //320
}

.container {
  min-height: 100%;
}

a,
input {
  transition: all 0.25s ease-out;

  &:hover,
  &:focus {
    transition: all 0.1s ease-in;
  }
}

section {
  margin-bottom: $lead * 2;
}

.well {
  padding: $lead;
  background: $bgdark2;
}

.bgdark1 { background-color: $bgdark1; }
.bgdark2 { background-color: $bgdark2; }

.button {
  display: inline-block;
  padding: 1em $lead;
  border-radius: $border-radius;
  margin: 0 auto;
  background: $secondary;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.control-container {
  padding-top: $lead * 1.5;
}

.site-footer {
  text-align: center;
  margin: $lead*2 0;

  span {
    @extend .meta-text;
  }

  .amp {
    font-size: $em * 2;
    font-weight: 300;
    display: inline-block;
    width: $em * 2;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -$em;
  }

  a {
    font-weight: bold;
    font-size: $em;
    display: inline-block;
    padding: ($em / 2) $em;
  }

  .who {
    border-bottom: 1px solid $border-color;

    a,
    .amp {
      line-height: $em * 2;
    }

    a {
      position: relative;
      top: -6px;
      width: 50%;
    }

    a:first-child {
      padding-right: $em * 1.5;
      text-align: right;
    }

    a:last-child {
      padding-left: $em * 1.5;
      text-align: left;
    }
  }  

  .license,
  .repo {
    @extend .small-caps;
    width: 50%;
    text-align: left;
    padding: $em/2 0;
  }

  .license {
    border-right: 1px solid $border-color;
    text-align: right;
    padding-right: $em * 1.5;
  }

  .repo {
    padding-left: $em * 1.5;
  }
}

.license-container {
  width: $em * 20;
  margin: 0 auto;
}

input {
  color: $primary;
  background: $form-default;
  border: none;
  padding: 0.75em;
  height: $em * 4;
  border-radius: $border-radius;
  font-size: $em * $base-lh;
  width: 100%;
  margin-bottom: $lead;

  &:focus {
    background: $form-focus;
    outline: 3px solid $form-border;
    color: $secondary;
  }
}

.at {
  padding: 0;

  label {
    line-height: $lead * 2.25;
    display: block;
    text-align: center;
  }
}

.sample_value { padding-right: 0; }
.sample_time  { padding-left: 0; }

.sample_value,
.sample_time {
  h3 {
    padding: 0.5em;
    background: $bgdark1;
    margin-bottom: $em;
  }
}

.add-sample {
  font-weight: bold;
}

.empty-state {
  margin-top: 15%;
  position: relative;

  &:after {
    content: '';
    display: block;
    border-top: 0 solid $bgdark2;
    border-left: $em*2 solid $bgdark2;
    border-bottom: $em solid transparent; 
    position: absolute;
    right: -$em*2;
    top: 0;
  }
}

.graph-container {
  height: 100%;
}

svg {
  shape-rendering: auto;
}
text {
  @extend .meta-text;
}

.segment text {
  fill: $secondary;
  text-anchor: end;
}
.segment polygon {
  fill: $primary;
  stroke: $secondary;
}
.segment:last-of-type polygon {
  fill: $secondary;
}
.tick text {
  fill: $secondary;
}
.tick line {
  stroke: $border-color;
}
