body {
  background: $background-color;
  color: $text-color;
  font-size: $em;
  line-height: $line-height;
}

a,
input {
  transition: all 0.25s ease-out;

  &:hover,
  &:focus {
    transition: all 0.1s ease-in;
  }
}

section {
  margin-bottom: $lead * 2;
}

.well {
  padding: $lead;
  background: $bgdark2;
}

.button {
  display: inline-block;
  padding: 1em $lead;
  border-radius: $border-radius;
  margin: 0 auto;
  background: $secondary;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.control-container {
  padding-top: $lead * 1.5;
}

input {
  color: $primary;
  background: $form-default;
  border: none;
  padding: 0.5em 0.75em;
  border-radius: $border-radius;
  font-size: $em * $base-lh;
  width: 100%;
  margin-bottom: $lead;
  outline-color: $primary;

  &:focus {
    background: $form-focus;
  }
}

.at {
  label {
    line-height: $lead * 2.25;
  }
}