body {
  background: $background-color;
  color: $text-color;
  font-size: $em;
  line-height: $line-height;
}

section {
  margin-bottom: $lead * 2;
}

.button {
  display: inline-block;
  padding: 1em $lead;
  border-radius: $border-radius;
  margin: 0 auto;
  background: $secondary;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

input {
  color: $primary;
  background: $secondary;
  border: none;
  padding: 1em;
  border-radius: $border-radius;
  font-size: $em * $lead;
  width: 100%;
}