body {
  background: $background-color;
  color: $text-color;
  font-size: $em;
  line-height: $line-height;
}

a,
input {
  transition: all 0.25s ease-out;

  &:hover,
  &:focus {
    transition: all 0.1s ease-in;
  }
}

section {
  margin-bottom: $lead * 2;
}

.well {
  padding: $lead;
  background: $bgdark2;
}

.bgdark1 { background-color: $bgdark1; }
.bgdark2 { background-color: $bgdark2; }

.button {
  display: inline-block;
  padding: 1em $lead;
  border-radius: $border-radius;
  margin: 0 auto;
  background: $secondary;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.control-container {
  padding-top: $lead * 1.5;
}

input {
  color: $primary;
  background: $form-default;
  border: none;
  padding: 0.75em;
  height: $em * 4;
  border-radius: $border-radius;
  font-size: $em * $base-lh;
  width: 100%;
  margin-bottom: $lead;

  &:focus {
    background: $form-focus;
    outline: 3px solid $form-border;
    color: $secondary;
  }
}

.at {
  padding: 0;

  label {
    line-height: $lead * 2.25;
    display: block;
    text-align: center;
  }
}

.sample_value { padding-right: 0; }
.sample_time  { padding-left: 0; }

.sample_value,
.sample_time {
  h3 {
    padding: 0.5em;
    background: $bgdark1;
    margin-bottom: $em;
  }
}

svg {
  shape-rendering: crispEdges;
}
text {
  @extend .meta-text;
}

.segment text {
  fill: $secondary;
  text-anchor: end;
}
.segment polygon {
  fill: $primary;
  stroke: $secondary;
}
.segment:last-of-type polygon {
  fill: $secondary;
}
.tick text {
  fill: $secondary;
}
.tick line {
  stroke: $secondary;
}
