.text-center { text-align: center; }
.text-left   { text-align: left; }
.text-right  { text-align: right; }

strong  { font-weight: bold; }
em      { font-style: italic; }

.caps {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.small-caps {
  @extend .caps;
  @extend small;
}