$background-color:  #EC5F3D;

$bgdark1:           #E05634;
$bgdark2:           #D64F2D;

$primary:           #FFF6BA;
$secondary:         #FF8256;

$headline-color:    $primary;
$text-color:        $primary;

$link-color:        $secondary;
$link-hover-color:  darken($secondary, 30%);

$form-default:      $secondary;
$form-focus:        #fff;
$form-border:       $bgdark2;

$base-em:           16;
$base-lh:           1.414; // Augmented fourth type scale

$em:                16px;
$lead:              $em * $base-lh;

$text-size:         $em;
$line-height:       $lead;

$border-radius:     3px;