$background-color:  #EC5F3D;

$bgdark1:           darken($background-color, 3%);
$bgdark2:           darken($background-color, 6%);

$primary:           #FFF6BA;
$secondary:         #FF8256;

$headline-color:    $primary;
$text-color:        $primary;

$link-color:        $secondary;
$link-hover-color:  darken($secondary, 30%);

$em:          16px;
$lead:        1.414; // Augmented fourth type scale

$text-size:   1em;
$line-height: $lead * 1em;

$border-radius: 3px;