<!doctype html>
<html lang="en" ng-app="howLongApp">
<head>
  <meta charset="utf-8">
  <title>How Long?</title>
  <link rel="stylesheet" href="dist/style.css">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700italic' rel='stylesheet' type='text/css'>
</head>

<body ng-app="sampleApp" ng-controller="SampleListCtrl">
  <div class="container">
    <div class="row">
      <div class="control-container medium-6 push-6 columns">
        <h1>How Long?</h1>
      </div>
    </div>

    <div class="row">
      <div class="graph-container medium-6 columns">
        <div class="graph">
          <svg version="1.1" ng-attr-width="{{chart.width}}" ng-attr-height="{{chart.height}}"
            ng-attr-viewBox="0 0 {{chart.width}} {{chart.height}}"
            preserveAspectRatio="xMinYMin meet" class="svg-content">

            <line ng-repeat="tick in ticks" class="tick" stroke="yellow" stroke-width="1px"
              ng-attr-x1="{{tick.x}}" ng-attr-y1="{{tick.y}}" x2="{{chart.width}}" ng-attr-y2="{{tick.y}}" />
            <text ng-repeat="tick in ticks" class="tick-label"
              ng-attr-x="{{tick.x - 2}}" ng-attr-y="{{tick.y - 4}}">
              {{tick.label}}
            </text>

            <polygon ng-repeat="segment in segments" class="segment"
              ng-attr-points="{{segment.points}}" fill="red" stroke="yellow" />
            <text ng-repeat="segment in segments" text-anchor="end" class="segment-label"
              ng-attr-x="{{segment.label.x - 2}}" ng-attr-y="{{segment.label.y - 4}}">
              {{segment.label.text | rate}}
            </text>
          </svg>
        </div>
      </div>
      <div class="control-container medium-6 columns">
        <div class="row">
          <div class="small-5 columns">
            <label>Value</label>
          </div>
          <div class="small-5 small-offset-2 columns">
            <label>Time</label>
          </div>
        </div>

        <div class="row" ng-repeat="sample in samples">
          <!-- <button ng-click="remove(sample)">Remove</button> -->
          <div class="small-5 columns sample_value">
            <h3>{{sample.value}}</h3>
          </div>
          <div class="small-2 columns at"><label>at</label></div>
          <div class="small-5 columns sample_time">
            <h3>{{sample.time | date:'mediumTime'}}</h3>
          </div>
        </div>

        <div class="row">
          <form name="form" ng-submit="add()">
            <div class="small-5 columns sample_value">
              <input ng-model="newsample.value" type="number" min="1" name="value" size="60" required>
            </div>
            <div class="small-2 columns at"><label>at</label></div>
            <div class="small-5 columns sample_time">
              <input ng-model="newsample.time" type="time" name="time" size="60">
            </div>
          </form>
        </div>

        <div class="row" ng-show="samples.length < 2">
          <div class="columns">
            <section class="well">
              <div class="meta-text text-center" ng-show="samples.length == 0">
                Enter <em>two or more samples</em> to know how long a
                task will take to complete.
              </div>
              <div class="meta-text text-center" ng-show="samples.length == 1">
                Just <strong>one</strong> more sample needed.
              </div>
            </section>
          </div>
        </div>

        <div class="row">
          <div class="columns">
            <label for="target">Final Count</label>
            <input type="number" size="60" ng-model="target" name="target">
          </div>
          <div class="columns">
            <h1 class="remaining">{{remaining}}</h1>
            <label for="estimated-time">Remaining</label>

            <h1>{{rate | rate}}</h1>
            <label for="rate">Rate</label>

            <h1 am-time-ago="estimate"></h1>
            <h1>{{estimate | date:'short'}}</h1>
            <label for="estimated-time">Estimate</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="bower_components/jquery/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/angular-moment/angular-moment.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>

</body>
</html>
